<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 14px;
      color: #666666;
    }

    .hello {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #4fb8fe;
      position: absolute;
      width: 100%;
      background-color: #1e1e1e;
    }

    .hello>h3 {
      color: currentColor;
    }
  </style>
</head>

<body>
  <div class="hello">
    <h3>Good Job Electron :)</h3>
  </div>
</body>

</html>